/* 
    Filename: overrides.css
    Description: article overrides
    
*/

#wrapper
{
    /* Display */
    display: block;
    background: #101010;
    
    /* Position, size */
    position:absolute;
    top:0px;
    left:10%;
    width:80%;
    height:2500px; 

}

#video
{
    /* Position and size */
    display: block;
    width:622px;
    height:350px;
    
    /* Border style */
    border: 15px;
    padding: 10px 10px; 
    background: #2f2f2f;
    
}

#canvas
{
    /* Position and size */
    display: block;
    width:622px;
    height:350px;
    
    /* Border style */
    border: 15px;
    padding: 10px 10px; 
    background: #000000;
    
}

#main
{
    /* Display */
    display: block;
    background: #1f1f1f;
    
    /* Position, size */
    position:relative;
    width:92%;
    top:30px;
    height:2000px;
    
    height:100%;
    
    /* Padding */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
