/* 
    Filename: Main.css
    Description: defines css style for Main.html
    
*/
#wrapper
{
    /* Display */
    /*display: inline-block;*/
    background: #101010;
    
    /* Position, size */
    position:relative;
    top:-10px;
    /*left:-8px;*/
    
    /*left:15%; */
    /*width:70%;*/
    
    min-width: 500px;
    max-width: 850px;
    
    margin-left: auto ;
    margin-right: auto ;
    
    padding:0px;

}

#main
{
    /* Display */
    display: block;
    background: #1f1f1f;
    
    /* Position, size */
    position:relative;
    width:92%;
    top:30px;
    
    /*height:5600px;*/
    min-height:1415px;
    
    /* Padding */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    

    
}

#header
{
    /* Display */
    display: block;
    background: #0f0f0f;
    
    /* Position, size */
    position:relative;
    width:92%;
    top:5px;
    height:0px;
    
    /* Padding */
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 0px;
    padding-right: 0px;
   
    /* Font */
    letter-spacing: 0px  ;
    text-align:     center ;
    font-size:      10pt ;
    color:          #505050 ;
    
}

#footer
{

    /* Display */            
    display: block;          
    background: #101010;   
                             
    /* Position, size */     
    position:relative;       
    /*top:40px;*/
    bottom:-15px;
    min-height: 75px;
    width:100%;  
                             
    /* Padding */            
    margin-left: auto;       
    margin-right: auto;
    padding-top: 10px;    
                             
    /* Font */               
    letter-spacing: 0px  ;   
    text-align:     center ; 
    font-size:      10pt ;   
    color:          #505050 ;
    
}

#tech
{
    /* Position and size */    
    position:relative;
   
    top:-12px;
    
    //background: #0f0f0f;
    
    margin-left:    15px;
    letter-spacing: 0px  ;
    text-align:     left ;
    font-size:      8pt ;
    color:          #757575 ;

}

#canvas
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:280px;
    
    background: #000000;
    
}

#bgCanvas
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    position: fixed;
    width: 100%;
    height: 125%;
    top: 0px;
    right: 0px;
    
    background: #000000;
    
}

#stagingLabel
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    font-size:  18pt   ;
    
    position: fixed;

    top: 0px;
    right:1%;
    
    /*width:100%;         */
    /*background: #0f0f0f;*/
    

}

#video
{
    display: inline ;
    border:  0px solid ;
    width:   300px ;
    height:  225px ;

}

#caption    /* Used to contain iframe & caption or image & caption. */
{   
    /*  Background and spacing  */
    display:            table     ;
    border:             0px solid ;
    background-color:   #2f2f2f   ;
    margin-left:        auto      ;
    margin-right:       auto      ;
    
    position: relative;
    
    /* Border style */
    /*border-radius: 5px;
    padding: 0px 1px; */
    border: 15px;
    padding: 5px 10px; 
    
    /*  Text properties */
    text-align: center ;
    font-size:  12pt   ;

}

#previewImage
{
    /*width:   266px ;*/
    height:  200px ;
    
    width: 100%;

    
}

#previewImageWide
{
    width:   225px ;
    height:  175px ;
    
    width: 100%;


}

table
{
    /*  Background and spacing  */
    display:            table     ;
    border:             0px solid ;
    /*background-color:   #2f2f2f   ;*/
    margin-left:        auto      ;
    margin-right:       auto      ;
    
    position: relative;
    
    /* Border style */
    /*border-radius: 5px;
    padding: 0px 1px; */
    border: 5px;
    padding: 5px 10px; 
    
    /*  Text properties */
    text-align: center ;
    font-size:  12pt   ;
    
    width: 100%;

}

td
{
    width: 33.333%;
    
    
}

#bgTest
{
    position: fixed;
    background-image: url("../Textures/bgtest.png");
    background-color: #101A1A;
    background-size: 256px;
    background-position: center bottom;
    background-repeat:repeat; 
    background-attachment: fixed;
    
    width: 100%;
    height: 100%;
    
    top: 0px;
    right: 0px;
    
}

body
{
    /*zeroing defaults*/
    margin: 0; padding: 0;
    
    /*TODO: add more defaults*/

    /*min-width: 700px;*/

    /* Background */
    background-image: url("../Textures/bgtest.png");
    background-color: #101A1A;
    background-size: 256px;
    background-position: center bottom;
    background-repeat:repeat; 
    background-attachment: scroll;
    
    background-position: 0% 20%; 
    
    height:800px;
    
    /* Font */
    //font-family:    helvetica, arial, sans-serif ;
    //font-family: Century Gothic, sans-serif;
    //font-family: Georgia, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    
    font-size:      15pt ;
    color:          grey ;
    letter-spacing: -0.25px  ;
    text-align:     left ;    
    
    font-weight: normal;

}

iframe 
{
    display: none;

}

h1
{
    font-size:  15pt;
    background: #2f2f2f;
	padding-left:   20.0px;
    padding-top:     2.5px;
    padding-bottom:  2.5px;
	color: #BBBBBB;
    
    text-shadow:
	 0.0px  2.0px 0 #000000,
	-0.5px -0.5px 0 #000000,
	 0.5px -0.5px 0 #000000,
	-0.5px  0.5px 0 #000000,
	 0.5px  0.5px 0 #000000;
     
     font-family: Impact, Charcoal, sans-serif;
     letter-spacing: 1px  ;
     font-weight: normal;

}

h2
{
    font-size:  26pt;
    text-align: center ;
    //background: #2f2f2f;
    
    letter-spacing: 3px;
    
    text-shadow:
	 0.0px  2.0px 0 #000000,
	-0.5px -0.5px 0 #000000,
	 0.5px -0.5px 0 #000000,
	-0.5px  0.5px 0 #000000,
	 0.5px  0.5px 0 #000000;
	
}

p
{
    font-size: 12pt;
    padding-left:  5px;
    padding-right: 5px;
	margin: 0 0 30px 0; 
    
    
    
}

image
{
    width:100px;
    height:100px;
    
}

#contenttd
{
    background-color: #000000;
    
}

/* Div with fixed ratio */
.RatioWrapper
{
    min-width: 50%;
    /* whatever width you want */
    display: inline-block;
    position: relative;

}

.RatioWrapper:after 
{
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';

}

.RatioContent
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */
    background-color: deepskyblue;
    /* let's see it! */
    color: white;

}

/*  Link styling    */
a:link {text-decoration:none;}   
a:visited {text-decoration:none;} 
a:hover {text-decoration:underline;}  
a:active {text-decoration:underline;}  
a{color: #7788FF;}